body {
    background-color: #000000 !important;
    color: #fff !important;
    text-align: center;
    padding: 20px;
}

h1, h2 {
    margin: 20px 0;
}

.message {
    font-weight: bold;
    margin-left: 10px;
}

.guess {
    width: 200px;
    margin: 0 auto;
}
